.course-recommender-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2%;
}

.link-container {
  margin: 2rem;
}

.link {
  border: solid;
  border-radius: 5%;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: aqua;
  transition: 0.35s;
}

.link:hover {
  background-color: blue;
}

.home-container,
.instructions-container,
.credits-container {
  text-align: center;
}
