.course-recommender-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2%;
}

.link-container {
  margin: 2.5%;
}

.link {
  margin: 1rem;
  text-decoration: none;
  color: aqua;
}

.home-container,
.instructions-container,
.credits-container {
  text-align: center;
}
